<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title><%= title %></title>
  <link href="<%= uri %>" />
  <updated><%= updated %></updated>
  <author>
  <name><%= author %></name>
  </author>
  <id><%= id %></id>

  <% entries.forEach((entry) => { %>
  <entry>
    <title><%= entry.title %></title>
    <link href="<%= entry.uri %>" />
    <id><%= entry.guid %></id>
    <updated><%= entry.updated %></updated>
    <summary type="html"><%= entry.summary %></summary>
  </entry>
  <% }) %>
</feed>
